

used with hmtl tags such as:

<td class="Subject" width="102">Load New Listings</td>
    <td class="Information" colspan="2" width="192"><ul>


----------------------------------------------------------------------


BODY
{    		
	BACKGROUND-COLOR: white;    
     	COLOR: black;    
     	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
     	FONT-SIZE: .7em
}

TD
{
	BACKGROUND-COLOR: white;
	COLOR: black;
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
	FONT-SIZE: .7em
}
.Comment
{
	WIDTH: 100%
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
}
.Header
{
	BACKGROUND-COLOR: teal;
	COLOR: white;
	FONT-SIZE: 1em;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
	TEXT-ALIGN: center;
	WIDTH: 100%
}
.Subject
{
	BACKGROUND-COLOR: #edcb43;
	FONT-WEIGHT: bold;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
	WIDTH: 25%
}
.Information
{
	BACKGROUND-COLOR: #e5e5e5;
	WIDTH: 75%
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
}
.InformationBackground
{
	BACKGROUND-COLOR: #e5e5e5
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
}
.Note
{
	COLOR: #0000ff;
	WIDTH: 100%
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
}
.Subject2
{
	BACKGROUND-COLOR: #edcb43;
	FONT-STYLE: italic;
	TEXT-ALIGN: right;
	VERTICAL-ALIGN: top;
	WIDTH: 12%
	FONT-FAMILY: Arial, Helvetica, "Times New Roman", serif;
}


